* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #1d1d1d;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #2b2b2b;
    padding: 10px 20px;
    position: fixed;
    top: 0;
}

.logo img {
    height: 30px;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.nav-links a:hover {
    color: #ccc;
}

.user-actions {
    display: flex;
    gap: 10px;
}

.btn {
    background-color: #155e1b;
    border: none;
    padding: 8px 12px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.btn:hover {
    background-color: #ffffff;
    border-radius: 10px;
    border-color: rgb(255, 255, 255);
}

.btn2 {
    background-color: #333533;
    border: 1px solid white;
    padding: 8px 12px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-top: 80px; /* Espaço para a navbar */
}

.login-box {
    background-color: #2b2b2b;
    padding: 20px;
    border-radius: 8px;
    width: 320px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #fff;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    text-align: left;
    font-size: 14px;
}

input {
    padding: 10px;
    margin-bottom: 25px;
    border: 1px solid #444;
    border-radius: 4px;
    background-color: #1d1d1d;
    color: #fff;
}

button {
    padding: 10px;
    background-color: #333435;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #005bb5;
}

.links {
    margin: 10px 0;
}

.links a {
    display: block;
    color: #ccc;
    font-size: 12px;
    margin: 5px 0;
    text-decoration: none;
}

.links a:hover {
    color: #fff;
}

p {
    font-size: 12px;
}

p a {
    color: #ffffff;
    text-decoration: none;
}

p a:hover {
    color: #00ff00;
}